 
  @media (prefers-reduced-motion: no-preference) {
    .gear {
      animation: gear-spin infinite 15s linear;
    }
  }
     
  @keyframes gear-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .payment-container{
    background-image: url('../../../Image/loginbg.jpg');
    height: 100vh;

  }