.galary-container img{
    max-width: 100%;
    transition: ease-in-out 0.3s;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 15px;
}
.galary-container img:hover{
    transform: scale(1.04);
}