
.leftCard {
    background: linear-gradient(#000428, #004683);
} 

.rightCard {
    height: 95vh;
}
.subMenu {
    height: 40px;
    position: relative;
}

.subMenu i {
    position: absolute;
    left: 10px;
    font-weight: 500;
    font-size: 18px;
    top: 10px;
}

.subMenu span {
    position: absolute;
    right: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    top: 10px;
    letter-spacing: 1px;
}

.subMenu:hover {
    background-color: #d42d2d;
}