.add-Car-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.746),rgba(0, 0, 0, 0.733)),url('../../../Image/regFeature.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 50px;
}