.bg{
    background: linear-gradient(#0013b9, #004683);
}
.user-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.userName {
    display: inline-block;
    margin-top: 12px;
}
.nav-link:hover{
    transition: ease-in-out 0.4s;
    background-color: #fff;
    color: #004683!important;
    transform:scale(1.03)
}
.nav-link:focus{
    background-color: #fff;
    color: #004683!important;
}