.bg{
    background-color: navy;
    border-bottom: 1px solid rgb(185, 121, 3);
}
.user-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.userName {
    display: inline-block;
    margin-top: 12px;
}
.nav-link{
    border: 2px solid transparent;
}
.nav-link:hover{
    transition: ease-in-out 0.4s;
    border-bottom: 2px solid #fff;
}
.nav-link:focus{
    color: rgb(177, 177, 177)!important;
    border-bottom: 2px solid #fff;
}